.todoListContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

@media (max-width: 600px) {
  .todoListContainer {
    gap: 10px;
  }
}
