.todoListContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .todoListContainer {
    gap: 10px;
  }
}
